.arrow .upto{
    animation: upto 1s  infinite alternate ;
    -webkit-animation: upto 2s  infinite  ;
    color: #F43333;
    font-size: 22px;
 display: inline-block;
}
@keyframes upto {
   0%, 100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: .6;
      }
      40% {
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 1;
      }
      60% {
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: .6;
      }
  }